/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Arvo', serif;
  --font-code: 'Roboto', monospace;
  --bg-color: #000000;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #0096C7;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  background: #ff8011;
  color: #fff;
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.btn2 {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  background: #7289d9;
  color: #fff;
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 0.33rem;
  margin-left: 8rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/*---------------------- Contact Us One -------------*/
.contact-us-one {
  background: url(../images/home/3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 125px;
}
.contact-us-one.m0 {margin: 0;}
.contact-us-one .overlay {
  background: rgba(0,0,0,0.53);
  padding: 110px 0 140px;
}
.contact-us-one .theme-title h2 {color: #fff;}
.contact-us-one .theme-title p {
  font-size: 20px;
  color: #fff;
  padding-top: 12px;
}
.contact-us-one form {
  margin-top: 70px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 60px 0px rgba(166, 188, 206, 0.15);
  padding: 65px 85px 60px;
  position: relative;
  z-index: 1;
}
.contact-us-one form label {
  font-family: 'brandon_grotesquemedium';
  color: #3a3c4e;
  display: block;
  margin-bottom: 10px;
}
.contact-us-one form input {
  width: 100%;
  height: 55px;
  border: none;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 30px;
}
.contact-us-one form input:focus {box-shadow: 0px 3px 16px 0px rgba(63, 53, 53, 0.07);}
.contact-us-one form button {
  font-family: 'brandon_grotesquemedium';
  width: 220px;
  height: 55px;
  border-radius: 4px;
  display: block;
  margin: 10px auto 0;
  color: #fff;
  font-size: 20px;
}
.contact-us-one form button:hover {background: #fec25e;}
.contact-us-one.bg-color {
  position: relative;
  background: linear-gradient( 29deg, rgb(74,2,199) 0%, rgb(117,1,209) 100%);
  padding: 300px 0 50px;
  overflow:hidden;
  z-index: 1;
}
.contact-us-one.bg-color:before {
  content: '';
  width: 103%;
  height: 220px;
  background: #fff;
  position: absolute;
  top:-100px;
  right:0;
  transform: rotate(-6deg);
}
.contact-us-one.bg-color:after {
  content: '';
  width: 104%;
  height: 220px;
  background: #fff;
  position: absolute;
  bottom:-100px;
  left:-1%;
  transform: rotate(-6deg);
}
.contact-us-one.bg-color .shape {
  position: absolute;
  z-index: -1;
  top:250px;
  left:50%;
  transform: translateX(-50%);
}
.contact-us-one.bg-color .shape-two {
  position: absolute;
  right: 0;
  top:13%;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
/* 3.4 Experience */



.row-experience{
  padding:2rem 0;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.row-experience:first-child{
  padding-top:0;
  border-top:0;
}

.row-experience:last-child{
  padding-bottom:0;
}

.row-experience img{
  width: auto!important;
}

.download-cv{
  display: inline-block;
  margin-top: 3.7rem;
  position: relative;
  z-index: 1;
}

.owl-dots{
  position: absolute;
  width: 100%;
  margin-top:3.5rem;
  text-align: center;
}

.owl-dot{
  display: inline-block;
  margin:0 0.35rem;
}

.owl-dot:focus{
  outline: none;
}

.owl-dots span{
  display: block;
  width: 20px;
  height:3px;
  background-color: #d6d6d6;
}

.owl-dot.active span{
  background-color: #D4F21B;
}

.owl-nav{
  font-family: 'Tahoma';
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -8.6rem;
  font-size: 6rem;
}

.owl-prev{
  margin-right: 0.6rem;
}

.owl-next,
.owl-prev{
  opacity: 0.45;
  transition: all 0.3s;
}

.owl-prev:focus,
.owl-next:focus{
  outline: none;
}

.owl-prev:hover,
.owl-next:hover{
  opacity: 1!important;
  color:#D4F21B!important;
}



/* 3.5 Skills */


.photo-icon{
  position: absolute;
  box-shadow: 0 5px 15px 5px rgba(16,16,16,.1);
  overflow: hidden;
  transition:all .6s .4s ease;
  opacity: 0;
}

.photo-icon-1{
  top:-50px;
  left:30%
}

.photo-icon-2{
  left:-40px;
  bottom:100px;
}

.photo-icon-3{
  right:-50px;
  bottom:50px;
}

.active .photo-icon-1{
  opacity: 1;
  left:50%
}

.active .photo-icon-2{
  opacity: 1;
  bottom:150px;
  transition-delay: .7s
}

.active .photo-icon-3{
  opacity: 1;
  bottom:-50px;
  transition-delay: 1s
}

.progress{
  height: 6px;
  border-radius: 0;
  background-color: #000;
}

.progress-bar{
  position: relative;
  background-color: transparent;
}

.progress-bar:before{
  position: absolute;
  background:#D4F21B;
  content:'';
  width:0;
  height: 100%;
}

.active .progress-bar:before{
  width: 100%;
  transition:all 0.8s  ease;
}

.progress-item:nth-child(1) .progress-bar:before{
  transition-delay: 400ms;
}

.progress-item:nth-child(2) .progress-bar:before{
  transition-delay: 600ms;
}

.progress-item:nth-child(3) .progress-bar:before{
  transition-delay: 800ms;
}